<%- include('../partials/adminHeader') %>
<%- include('../partials/adminSidebar') %>






        <div class="page-body">
            <!-- New Product Add Start -->
            <form action="" method="post" enctype="multipart/form-data" id="editProduct">

                <div class="container-fluid">
                    <div class="row theme-form theme-form-2 mega-form">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-8 m-auto">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Product Information</h5>
                                            </div>


                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Product Name</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="name"
                                                        placeholder="Product Name" value="<%=product.name%>" id="name">
                                                        <small class="text-danger" id="nameError"></small>
                                                </div>
                                            </div>


                                            <div class="mb-4 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">Category</label>
                                                <div class="col-sm-9">
                                                    <select class="js-example-basic-single w-100" name="category">
                                                        <option disabled>Category Menu</option>

                                                        <% category.forEach((value)=> { %>
                                                            <option value="<%= value._id %>">
                                                                <%= value.name %>
                                                            </option>
                                                            <% }) %>


                                                    </select>
                                                </div>
                                            </div>





                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Brand</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="brand"
                                                        placeholder="Brand" value="<%=product.brand%>" id="brand">
                                                        <small class="text-danger" id="brandError"></small>
                                                </div>
                                            </div>


                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Quantity</label>
                                                <div class="col-sm-9">
                                                    <input type="number" class="form-control" name="quantity"
                                                        placeholder="Quantity" value="<%=product.quantity%>" id="quantity">
                                                        <small class="text-danger" id="quantityError"></small>
                                                </div>
                                            </div>





                                        </div>
                                    </div>


                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Product Specifiction</h5>
                                            </div>



                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Model</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="model"
                                                        placeholder="Model" value="<%=product.model %>" id="model">
                                                        <small class="text-danger" id="modelError"></small>
                                                </div>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Ram</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="ram" placeholder="RAM"
                                                        value="<%=product.quantity%>" id="ram">
                                                        <small class="text-danger" id="ramError"></small>

                                                </div>
                                            </div>
                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Storage Space</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="storage"
                                                        placeholder="Storage" value="<%=product.storage %>" id="storage">
                                                        <small class="text-danger" id="storageError"></small>
                                                </div>
                                            </div>



                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Processor</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="processor"
                                                        placeholder="Processor" value="<%=product.processor %> " id="processor">
                                                        <small class="text-danger" id="processorError"></small>

                                                </div>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Screen Size</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="screenSize"
                                                        placeholder="Screen Size" value="<%=product.screenSize %>" id="screenSize">
                                                        <small class="text-danger" id="screenSizeError"></small>

                                                </div>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Graphics Card</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="graphicsCard"
                                                        placeholder="Graphics Card" value="<%=product.graphicsCard %>" id="graphicsCard">
                                                        <small class="text-danger" id="graphicsCardError"></small>

                                                </div>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">OS Architecture</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="osArchitecture"
                                                        placeholder="OS Architecture" class="form-control"
                                                        value="<%=product.osArchitecture %>" id="osArchitecture">
                                                        <small class="text-danger" id="osArchitectureError"></small>

                                                </div>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">OS</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="os" placeholder="OS" class="form-control"
                                                        value="<%=product.os %>" id="os">
                                                        <small class="text-danger" id="osError"></small>

                                                </div>
                                            </div>




                                        </div>
                                    </div>








                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Description</h5>
                                            </div>
                                            <div class="row theme-form theme-form-2 mega-form">
                                                <div class="col-12">
                                                    <div class="row">
                                                        <label class="form-label-title col-sm-3 mb-0 ">Product
                                                            Description</label>
                                                        <div class="col-sm-9">

                                                            <div> <input type="text" name="description"
                                                                    placeholder="Product Description"
                                                                    class="form-control"
                                                                    value="<%=product.description%>" id="description">
                                                                    <small class="text-danger" id="descriptionError"></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>



                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Product Images</h5>
                                            </div>


                                            <div class="mb-4 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">Images</label>

                                                <div class="col-sm-9">
                                                    <input class="form-control form-choose" type="file" id="formFile"
                                                        name="productImage" multiple>
                                                </div>
                                                <span>(upto - 4 images)</span>
                                            </div>

                                                <div class="card">
                                                <div class="card-body">
                                                    <div class="card-header-2">
                                                        <h5>Product Price</h5>
                                                    </div>


                                                    <div class="mb-4 row align-items-center">
                                                        <label class="col-sm-3 form-label-title">price</label>
                                                        <div class="col-sm-9">
                                                            <input type="number" name="price" placeholder="Price"
                                                                class="form-control" value="<%=product.price%>" id="price">
                                                                <small class="text-danger" id="priceError"></small>
                                                        </div>
                                                    </div>
                                                    <div class="mb-4 row align-items-center">
                                                        <label class="col-sm-3 form-label-title">Discount Price</label>
                                                        <div class="col-sm-9">
                                                            <input type="number" name="discountPrice"
                                                                placeholder="Discount Price" class="form-control"
                                                                value="<%=product.discountPrice%>" id="discountPrice">
                                                                <small class="text-danger" id="discountPriceError"></small>


                                                        </div>
                                                    </div>


                                                </div>
                                            </div>

                                            <small class="text-danger" id="generalError"></small>

                                            <div class="col-4 col-3 ">
                                                <button type="submit" class="btn btn-primary w-70  h-100 " onclick="editProduct()">Add
                                                    Product</button>
                                            </div>

                                            <br>



                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    
     
            </form>


        </div>
        <!-- New Product Add End -->

          
<script>
    document.addEventListener('DOMContentLoaded', function () {
    const message = document.getElementById('message');
    const hide = () => {
        message.style.display = 'none';
    }
    setTimeout(hide, 3000);

    const form = document.getElementById('editProduct');

    form.addEventListener('submit', function (event) {
        event.preventDefault();
        if (validateForm()) {
            form.submit();
        }
    });

    function validateForm() {
        // Reset error messages
        resetErrorMessages();

        // Get form values
        var name = document.getElementById('name').value.trim();
        var brand = document.getElementById('brand').value.trim();
        var quantity = document.getElementById('quantity').value.trim();
        var model = document.getElementById('model').value.trim();
        var ram = document.getElementById('ram').value.trim();
        var storage = document.getElementById('storage').value.trim();
        var processor = document.getElementById('processor').value.trim();
        var screenSize = document.getElementById('screenSize').value.trim();
        var graphicsCard = document.getElementById('graphicsCard').value.trim();
        var osArchitecture = document.getElementById('osArchitecture').value.trim();
        var os = document.getElementById('os').value.trim();
        var description = document.getElementById('description').value.trim();
        var price = document.getElementById('price').value.trim();
        var discountPrice = document.getElementById('discountPrice').value.trim();

        // Check if at least one field is filled
        if (
            name === '' && brand === '' && quantity === '' && model === '' &&
            ram === '' && storage === '' && processor === '' && screenSize === '' &&
            graphicsCard === '' && osArchitecture === '' && os === '' &&
            description === '' && price === '' && discountPrice === ''
        ) {
            document.getElementById('generalError').innerText = 'Please fill in at least one field';
            return false;
        } else {
            document.getElementById('generalError').innerText = ''; // Clear general error message
        }

        // Validate name
        if (name === '') {
            document.getElementById('nameError').innerText = 'Please enter a product name';
            return false;
        }

        // Validate brand
        if (brand === '') {
            document.getElementById('brandError').innerText = 'Please enter a brand';
            return false;
        }

        // Validate quantity
        if (quantity === '' || isNaN(quantity) || parseInt(quantity) <= 0) {
            document.getElementById('quantityError').innerText = 'Please enter a valid quantity';
            return false;
        }

        // Validate model
        if (model === '') {
            document.getElementById('modelError').innerText = 'Please enter a model';
            return false;
        }

        // Validate RAM
        if (ram === '') {
            document.getElementById('ramError').innerText = 'Please enter RAM information';
            return false;
        }

        // Validate Storage
        if (storage === '') {
            document.getElementById('storageError').innerText = 'Please enter storage information';
            return false;
        }

        // Validate Processor
        if (processor === '') {
            document.getElementById('processorError').innerText = 'Please enter processor information';
            return false;
        }

        // Validate Screen Size
        if (screenSize === '') {
            document.getElementById('screenSizeError').innerText = 'Please enter screenSize information';
            return false;
        }

        // Validate Graphics Card
        if (graphicsCard === '') {
            document.getElementById('graphicsCardError').innerText = 'Please enter graphicsCard information';
            return false;
        }

        // Validate OS Architecture
        if (osArchitecture === '' || isNaN(osArchitecture) || osArchitecture <= 0) {
            document.getElementById('osArchitectureError').innerText = 'Please enter a valid OS Architecture';
            return false;
        }

        // Validate OS
        if (os === '') {
            document.getElementById('osError').innerText = 'Please enter os information';
            return false;
        }

        // Validate Description
        if (description === '') {
            document.getElementById('descriptionError').innerText = 'Please enter a product description';
            return false;
        }

        // Validate Price
        if (price === '' || isNaN(price) || parseFloat(price) <= 0) {
            document.getElementById('priceError').innerText = 'Please enter a valid price';
            return false;
        }

        // Validate Discount Price
        if (discountPrice === '' || isNaN(discountPrice) || parseFloat(discountPrice) <= 0) {
            document.getElementById('discountPriceError').innerText = 'Please enter a valid discountPrice';
            return false;
        }

        // Form is valid, continue with submission
        return true;
    }

    function resetErrorMessages() {
        // Reset all error messages
        var errorIds = [
            'nameError', 'brandError', 'quantityError', 'modelError',
            'ramError', 'storageError', 'processorError', 'screenSizeError',
            'graphicsCardError', 'osArchitectureError', 'osError',
            'descriptionError', 'priceError', 'discountPriceError', 'generalError'
        ];

        errorIds.forEach(function (errorId) {
            document.getElementById(errorId).innerText = '';
        });
    }
});
</script>
   

        <!-- Modal End -->

        <!-- latest js -->
        <script src="/assetsb/js/jquery-3.6.0.min.js"></script>

        <!-- Bootstrap js -->
        <script src="/assetsb/js/bootstrap/bootstrap.bundle.min.js"></script>

        <!-- feather icon js -->
        <script src="/assetsb/js/icons/feather-icon/feather.min.js"></script>
        <script src="/assetsb/js/icons/feather-icon/feather-icon.js"></script>

        <!-- scrollbar simplebar js -->
        <script src="/assetsb/js/scrollbar/simplebar.js"></script>
        <script src="/assetsb/js/scrollbar/custom.js"></script>

        <!-- Sidebar js -->
        <script src="/assetsb/js/config.js"></script>

        <!-- bootstrap tag-input js -->
        <script src="/assetsb/js/bootstrap-tagsinput.min.js"></script>
        <script src="/assetsb/js/sidebar-menu.js"></script>

        <!-- customizer js -->
        <script src="/assetsb/js/customizer.js"></script>

        <!--Dropzon js -->
        <script src="/assetsb/js/dropzone/dropzone.js"></script>
        <script src="/assetsb/js/dropzone/dropzone-script.js"></script>

        <!-- Plugins js -->
        <script src="/assetsb/js/notify/bootstrap-notify.min.js"></script>
        <script src="/assetsb/js/notify/index.js"></script>

        <!-- ck editor js -->
        <script src="/assetsb/js/ckeditor.js"></script>
        <script src="/assetsb/js/ckeditor-custom.js"></script>

        <!-- select2 js -->
        <script src="/assetsb/js/select2.min.js"></script>
        <!-- <script src="/assetsb/js/select2-custom.js"></script> -->

        <!-- sidebar effect -->
        <script src="/assetsb/js/sidebareffect.js"></script>

        <!-- Theme js -->
        <script src="/assetsb/js/script.js"></script>

        </body>


        <!-- Mirrored from themes.pixelstrap.com/fastkart/back-end/add-new-product.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Sep 2023 05:49:46 GMT -->



        </html>