
<%- include('../partials/adminHeader') %>
   

<%- include('../partials/adminSidebar') %>

            <!-- Container-fluid starts-->
            <div class="page-body">
                <!-- All User Table Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="title-header option-title">
                                        <h5>All Users</h5>
                                        <form class="d-inline-flex">
                                            <a href="add-new-user.html" class="align-items-center btn btn-theme d-flex">
                                                <i data-feather="plus"></i>Add New
                                            </a>
                                        </form>
                                    </div>

                                    <div class="table-responsive table-product">
                                        <table class="table all-package theme-table" id="table_id">
                                            <thead>
                                                <tr>
                                                  
                                                    <th>Name</th>
                                                    <th>Phone</th>
                                                    <th>Email</th>
                                                    <th>Status</th>
                                                    
                                                    
                                                </tr>
                                            </thead>

                                            <tbody>
                                               
                                                <% users.forEach((value)=>{ %>

                                                
                                                <tr>
                                                    <!-- <td>
                                                        <div class="table-image">
                                                            <img src="/assetsb/images/users/1.jpg" class="img-fluid"
                                                                alt="">
                                                        </div>
                                                    </td> -->

                                                    <td>
                                                        <div class="user-name">
                                                            <span><%= value.name %></span>
                                                          
                                                        </div>
                                                    </td>

                                                    <!-- <td>+ 802 - 370 - 2430</td> -->
                                                    <td><%= value.mobile%></td>

                                                    <td><%= value.email%></td>
                                                    <td class="" style="text-align: center;">
                                                        <% if(value.is_blocked){%>
                                                        <a href="/admin/blockuser?id=<%=value._id.toString()%>">
                                                            <p class="text-danger">Unblock</p>
                                                        </a>
                                                     <% } else{ %>
                                                        <a href="/admin/blockuser?id=<%=value._id.toString()%>">
                                                            <p class="text-primary">Block</p>
                                                        </a>
                                                  <%   } %>
                                                    </td>

                                                    <!-- <td>
                                                        <ul>
                                                            <li>
                                                                <a href="order-detail.html">
                                                                    <i class="ri-eye-line"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="javascript:void(0)">
                                                                    <i class="ri-pencil-line"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="javascript:void(0)" data-bs-toggle="modal"
                                                                    data-bs-target="#exampleModalToggle">
                                                                    <i class="ri-delete-bin-line"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </td> -->
                                                </tr>

                                             

                                                <% }) %>

                                               
                                            </tbody>
                                            
                                        </table>
                                        <br>
                                                                    <!-- Pagination -->
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <% for (let i = 1; i <= totalPages; i++) { %>
                                        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                        </li>
                                    <% } %>
                                </ul>
                            </nav>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- All User Table Ends-->

                <div class="container-fluid">
                    <!-- footer start-->
                    <footer class="footer">
                        <div class="row">
                            <div class="col-md-12 footer-copyright text-center">
                                <p class="mb-0">Copyright 2023 © Fastkart theme by pixelstrap</p>
                            </div>
                        </div>
                    </footer>
                    <!-- footer end-->
                </div>
            </div>
            <!-- Container-fluid end -->
        </div>
        <!-- Page Body End -->

        <!-- Modal Start -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
            <div class="modal-dialog  modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                        <p>Are you sure you want to log out?</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="button-box">
                            <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
                            <button type="button" class="btn  btn--yes btn-primary">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal End -->
    </div>

    <!-- Delete Modal Box Start -->
    <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-block text-center">
                    <h5 class="modal-title w-100" id="exampleModalLabel22">Are You Sure ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="remove-box">
                        <p>The permission for the use/group, preview is inherited from the object, object will create a
                            new permission for this object</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle2" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel12">Done!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="remove-box text-center">
                        <div class="wrapper">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                            </svg>
                        </div>
                        <h4 class="text-content">It's Removed.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        
    </div>
    <p> <%= users.username %></p>
    <!-- Delete Modal Box End -->


        

    <!-- latest js -->
    <script src="/assetsb/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js -->
    <script src="/assetsb/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- feather icon js -->
    <script src="/assetsb/js/icons/feather-icon/feather.min.js"></script>
    <script src="/assetsb/js/icons/feather-icon/feather-icon.js"></script>

    <!-- scrollbar simplebar js -->
    <script src="/assetsb/js/scrollbar/simplebar.js"></script>
    <script src="/assetsb/js/scrollbar/custom.js"></script>

    <!-- customizer js -->
    <script src="/assetsb/js/customizer.js"></script>

    <!-- Sidebar js -->
    <script src="/assetsb/js/config.js"></script>

    <!-- Plugins JS -->
    <script src="/assetsb/js/sidebar-menu.js"></script>
    <script src="/assetsb/js/notify/bootstrap-notify.min.js"></script>
    <script src="/assetsb/js/notify/index.js"></script>

    <!-- Data table js -->
    <script src="/assetsb/js/jquery.dataTables.js"></script>
    <script src="/assetsb/js/custom-data-table.js"></script>

    <!-- all checkbox select js -->
    <script src="/assetsb/js/checkbox-all-check.js"></script>

    <!-- sidebar effect -->
    <script src="/assetsb/js/sidebareffect.js"></script>

    <!-- Theme js -->
    <script src="/assetsb/js/script.js"></script>
</body>


<!-- Mirrored from themes.pixelstrap.com/fastkart/back-end/all-users.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Sep 2023 05:49:39 GMT -->
</html> 