<%- include('../partials/styleh') %>


<body>
    <div class="page-wrapper">
        <%- include('../partials/header') %>

        <main class="main">
            

            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-xl-4-5col">
                            <div class="category-banners-slider owl-carousel owl-simple owl-nav-inside" data-toggle="owl" 
                                data-owl-options='{
                                    "nav": false,
                                    "responsive": {
                                        "768": {
                                            "nav": true
                                        }
                                    }
                                }'>
                                <div class="banner banner-poster">
                                    
                                    <a href="#">
                                        <img src="/assets/images/demos/demo-13/banners/banner-7.jpg" alt="Banner">
                                    </a>

                                    <div class="banner-content banner-content-right">
                                        <h3 class="banner-subtitle"><a href="#">Amazing Value</a></h3><!-- End .banner-subtitle -->
                                        <h2 class="banner-title"><a href="#">High Performance 4K TVs</a></h2><!-- End .banner-title -->
                                        <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->

                                <div class="banner banner-poster">
                                    <a href="#">
                                        <img src="/assets/images/demos/demo-13/banners/banner-8.jpg" alt="Banner">
                                    </a>

                                    <div class="banner-content">
                                        <h3 class="banner-subtitle"><a href="#">Weekend Deal</a></h3><!-- End .banner-subtitle -->
                                       
                                        <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .owl-carousel -->

                            <div class="mb-3"></div><!-- End .mb-3 -->

                            

                            <div class="mb-3 mb-lg-5"></div><!-- End .mb-3 mb-lg-5 -->

                         

                            <div class="mb-2"></div><!-- End .mb-2 -->

                            <!-- <h2 class="title title-border">Featured Items</h2>End .title -->

                            

                            <form id="filterForm" action="" method="get">
                                <div class="mb-4"></div><!-- End .mb-4 -->


                                <div class="toolbox">
                                    <div class="toolbox-left">
                                  
                                    </div><!-- End .toolbox-left -->

                                    
                                        <div class="toolbox-right">
                                            <div class="toolbox-sort">
                                                <label for="sortby">Sort by:</label>
                                                <div class="select-custom">
                                                    <select name="sortby" id="sortby" class="form-control" onchange="this.form.submit()">
                                                        <option value="priceLowToHigh" <%= sortBy === 'priceLowToHigh' ? 'selected' : '' %>>Price: Low to High</option>
                                                        <option value="priceHighToLow" <%= sortBy === 'priceHighToLow' ? 'selected' : '' %>>Price: High to Low</option>
                                                    </select>
                                                    <noscript><input type="submit" value="Submit"></noscript>
                                                </div>
                                            </div><!-- End .toolbox-sort -->
                                        </div><!-- End .toolbox-right -->
                                    </form>
                                </div><!-- End .toolbox -->

                            <div class="products mb-3">
                                <div class="row">
                            
                                    <% productdata.forEach((product)=>{ %>
                                    <div class="col-6 col-md-4 col-xl-3">
                                        <div class="product">
                                            <figure class="product-media">
                                                <span class="product-label label-new">New</span>
                                                <a href="/productDetails?id=<%=product._id%>">
                                                    <img src="/productImage/<%=product.productImage[0]%>" alt="Product image" class="product-image">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                                </div><!-- End .product-action-vertical -->
                                                <% if( product.quantity <= 0) { %>
                                                  <p class="text-danger" style="text-align: center;">Out of stock</p>
                                              <%  } else {  %> 
                                                <div class="product-action">
                                                    <a href="/cart?productId=<%= product._id %>" class="btn-product btn-cart" title="Add to cart" ><span>add to cart</span></a>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->
                                            <%  } %>
                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#"><%=product.category.name%></a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="productDetails"><%=product.name%></a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    <% if (product.price <= product.discountPrice) { %>
                                                    ₹<span style="margin-right: 5px;"><%=product.price%></span>
                                                    <span style="text-decoration: line-through; margin-right: 5px;">Discount not available</span> 
                                                    
                                                    <% }  else {%>
                                                        ₹<span style="text-decoration: line-through;margin-right: 5px;"><%=product.price%></span> 
                                                        ₹<%=product.discountPrice%> 
                                                 <%   }   %> 
                                                 
                                                 

                                                </div><!-- End .product-price -->
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-text">12 Reviews </span>
                                                </div><!-- End .rating-container -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-md-4 col-xl-3 -->

                                    <% }) %>
                                   
                                </div><!-- End .row -->
                                  
                                
                            </div><!-- End .products -->


                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                  <% if (currentPage > 1) { %>
                                    <li class="page-item">
                                      <a class="page-link page-link-prev" href="/products?page=<%= currentPage - 1 %>" aria-label="Previous">
                                        <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                      </a>
                                    </li>
                                  <% } else { %>
                                    <li class="page-item disabled">
                                      <span class="page-link page-link-prev" aria-disabled="true">
                                        <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                      </span>
                                    </li>
                                  <% } %>
                              
                                  <% for (let i = 1; i <= totalPages; i++) { %>
                                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                      <a class="page-link" href="/productsView?page=<%= i %>"><%= i %></a>
                                    </li>
                                  <% } %>
                              
                                  <li class="page-item-total">of <%= totalPages %></li>
                              
                                  <% if (currentPage < totalPages) { %>
                                    <li class="page-item">
                                      <a class="page-link page-link-next" href="/productsView?page=<%= currentPage + 1 %>" aria-label="Next">
                                        Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                      </a>
                                    </li>
                                  <% } else { %>
                                    <li class="page-item disabled">
                                      <span class="page-link page-link-next" aria-disabled="true">
                                        Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                      </span>
                                    </li>
                                  <% } %>
                                </ul>
                              </nav>
                              
                        </div><!-- End .col-lg-9 -->

                        <aside class="col-lg-3 col-xl-5col order-lg-first mt-5">
                            <form method="get" action="/productsView">
                            <div class="sidebar sidebar-shop">
                                <div class="widget">
                                    <h3 class="widget-title">Category</h3><!-- End .widget-title -->
                                    <%allCategory.forEach((category)=>{ %> 
                                        <div class="widget-body">
                                            <div class="filter-items">
                                                <div class="filter-item">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" 
                                                        id="<%= 'category-' + category %>" name="category" value="<%= category %>">
                                                        <label class="custom-control-label" for="<%= 'category-' + category %>">
                                                            <%= category %>
                                                        </label>
                                                    </div><!-- End .custom-checkbox -->
                                                </div><!-- End .filter-item -->
                                            </div><!-- End .filter-items -->
                                        </div><!-- End .widget-body -->
                                    <% }) %>
                                    
                                </div><!-- End .widget -->  
                                <div class="widget">
                                    <h3 class="widget-title">Brands</h3><!-- End .widget-title -->
                                    <% brands.forEach((brand) => { %> 
                                        <div class="widget-body">
                                            <div class="filter-items">
                                                <div class="filter-item">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" 
                                                        id="<%= 'brand-' + brand %>" name="brand" value="<%= brand %>">
                                                        <label class="custom-control-label" for="<%= 'brand-' + brand %>">
                                                            <%= brand %>
                                                        </label>
                                                    </div><!-- End .custom-checkbox -->
                                                </div><!-- End .filter-item -->
                                            </div><!-- End .filter-items -->
                                        </div><!-- End .widget-body -->
                                    <% }) %>
                                    <div class="mb-3">
                                        <input  type="submit" value="filter">
                                    </div>
                                    <div>
                                        <a href="/productsView" class="btn btn-sm btn-secondary">Reset</a>
                                    </div>
                                </div><!-- End .widget -->
                                </form>


                              

                                <div class="widget widget-banner-sidebar">
                                    <div class="banner-sidebar-title">ad banner 218 x 430px</div><!-- End .ad-title -->
                                    
                                    <div class="banner-sidebar banner-overlay">
                                        <a href="#">
                                            <img src="/assets/images/demos/demo-13/banners/banner-6.jpg" alt="banner">
                                        </a>
                                    </div><!-- End .banner-ad -->
                                </div><!-- End .widget -->
                            </div><!-- End .sidebar sidebar-shop -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->


            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon">
                            <i class="icon-rocket"></i>
                        </span>
    
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                            <p>Orders $50 or more</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->
                
                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon">
                            <i class="icon-rotate-left"></i>
                        </span>
    
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                            <p>Within 30 days</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->
    
                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon">
                            <i class="icon-info-circle"></i>
                        </span>
    
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                            <p>When you sign up</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->
    
                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon">
                            <i class="icon-life-ring"></i>
                        </span>
    
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                            <p>24/7 amazing services</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->

       
        </main><!-- End .main -->
      
<%-include('../partials/footer')%>

    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
</body>


<!-- molla/category-market.html  22 Nov 2019 10:03:00 GMT -->
</html>